*{
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}

ul{
	list-style: none;
}

header{
	background-color: #000000;
	position: sticky;
	position: -webkit-sticky; /* For Safari*/
}

a{
	color: inherit;
	text-decoration: none;
}
.nav_bar{
	display: flex;
	align-items: center;
	justify-content: center;
    overflow: hidden;
	text-align: center;
    position: sticky;
	width:100%;
    
}

.footer_nav_options{
	display:flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
	
}
.header_nav_options{
	display:flex;
	align-items: center;
	width:100%;
}

#header_options{
	margin: 0 25em 0 3em;
	gap: 24px;
}
#header_options a{
	font-size: 20px;
	font-weight: 400;
}
.nav_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;	
}

.nav_options div{
	padding-right:20vw;
}

.nav_options div a{
	font-size: 1.5em;
}
.nav_bar a:hover{
    color: #ffffff;
}

.nav_bar a:active{
    color: #ffffff;
}

#footer_related{
	float: right;
	text-align: center;
	position: relative;	
}

#header_related{
	float: right;
	text-align: center;
	position: relative;
	
}
#header_related a{
	margin: 0 10px;
}

#footer_related a{
	padding: 5px;
}

.main_news{
	display: block;
	
	
	
}


.secondary_news{
	display: grid;
	gap:15px;
}

.secondary_news_list{
	list-style: none;
}

.center { /* look at other pages first*/
	display: flex;
	top: 40%;
	width: 100%;
	flex-direction: column;
	position: absolute;
	text-align: center;
	
}
.center h1{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 40px;
}
.center h2{
	font-weight: 500;
	font-size: 22px;
	color: #FFFFFF;
}
.Games{
	padding: 30px 0;
	background-color: #2C2C2C
}

.Game_list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0 40px;
}
.Games h1{
	color: #FFFFFF;
	padding: 0 40px;
}

.game_bg{
	display: flex;
	width: 40%;
	position: relative;
}

.game_bg h3{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.logo {
	position: absolute;
	left: 30px;
	top: 120px;
}

.footer_ext{
	background-color: #000000;
	color: #ffffff;
	display: flex;
	padding: 33px 0 100px;
	flex-direction: column;
}
.footer_ext .footer_int{
	margin: 0 auto;
	width: 100%;
	max-width: 90%;
}

.social_ext{
	align-content: space-between;
	display: flex;
	margin-bottom: 33px;
}
.stores{
	gap:12px;
	display: flex;
	padding-right: 15px;
	padding-top: 5px;
}
hr{
	background-color:#737272;
	border-width:0;
	height: 1px;
}
#social{
	display: flex;
	flex-direction: row;
	margin-left: 90px;
	position: absolute;
	gap:24px;
	
}
.sg{
	flex-grow: 1;
}

.legal{
	display: flex;
	justify-content: center;
	gap: 40px;
	font-size: 18px;
}
.office_locations{
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 80px;
	font-size: 24px;
	font-weight: 500;
	
}
.footer_padding{
	padding: 21px 0px;
}

.btn{
	float:right;
}
.btn2{
	background-color: #000000;
	color: #FFFFFF;
	border: none;
}
.hiring{
	display: flex;
	width: 100%;
}

.hiring_info{
	flex-basis: 45%;
	display: flex;
	flex-direction: column;
padding: 2%;
	
}
.hiring_image{
	flex: 1 1 55%;
    display: flex;
    align-items: center;
}
/*.inner{
	padding: 80px 30px;
}*/
.hiring_info a{
	background-color: #2D85F3;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin: 4px 2px;
	font-size: 16px; 
	border-radius: 10px;
}

#supercell_title{
	text-align: center;
	flex-direction: row;
	display: flex;
	width: 100%;
	justify-content: center;
	
}

#supercell_description{
	width: 40%;
	display: flex;
	flex-direction: row;
	text-align: start;
}
#supercell_stats{
	width: 30%;
	display: flex;
	text-align: start;
}
.ext_container{
	width: 100%;
}
.container {
	background-color: #fff;	
	padding: 2em 3em 3em 3em;
}

.img_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: start;
	margin-left: 10px;
	margin-right: 10px;
}

.img_container2{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: start;
	margin: 20px 5em;
}

.img_1{
	flex: 26%; /* flex-grow:1 and flex-shrink 1 flex-basis:26%*/
	display: flex;
	justify-content: end;
}

.img_2{
	flex: 45%; /* flex-grow:1 and flex-shrink 1 flex-basis:45%*/
	display: flex;
	justify-content: center;
}

.img_3{
	display: flex;
	justify-content: start;
	flex: 54%; /* flex-grow:1 and flex-shrink 1 flex-basis:54%*/
}

.img_4{
	display: flex;
	flex: 50%;
	justify-content: start;
	padding-left: 15px;
}
.img_5{
	display: flex;
	flex: 50%;
	justify-content: end;
	padding-right: 15px;
}
.vid_container{
	width: 100%;
	text-align: center;
	
}

.des_container {
	width: 100%;
	font-size: 22px;
	font-weight: 400;
	padding: 15px;
	text-align: center;
}
#location {
	text-align: center;
	
}
#location h1{
	font-size: 40px;
	font-weight: 700;
	color: #000000;
}
#location h2{
	font-size: 30px;
	font-weight: 600;
	color: #2D85F3;
}

#open_positions{
	padding: 150px 0px 20px;
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}
/*em: Relative to the font-size of the element 
(2em means 2 times the size of the current font)*/

.career_header{
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid #000000;
	margin-left: 10px;
	margin-right: 10px;
	color: #939393;
}
.sort{
	border: none;
	background-color: #FFFFFF;
	font-size: 24px;
	font-weight: 500;
	cursor: pointer;
}
.career_section{
	display: flex;
	text-align: start;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
	margin-left: 10px;
	border-bottom: 2px solid #000000;
}

.career_title{
	margin-left: 5px;
	margin-right: 4em;
	width: 35%;
	display: flex;
	font-size: 18px;
	font-weight: 400;
	color: #2D85F3;
}

.career_position{
	display: flex;
	width: 22%;
	font-size: 18px;
	font-weight: 400;
	
}

.career_category{
	margin-left: 3em;
	display: flex;
	width: 24%;
	font-size: 18px;
	font-weight: 400;
	
}

.apply_option{
	padding: 13px 23px;
	display: flex;
	font-size: 12px;
	font-weight: 400;
	background-color: #2D85F3;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

#career_padding{
	padding: 4em;
}

#show_all_button {
	background-color: #FFFFFF;
	color: #FB62AA;
	border: none;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
}

#button_ext {
	
	padding-bottom: 100px;
	padding-top: 20px;
}

.belief_title{
	width: 100%;
	font-weight: 600;
	font-size: 25px;
	padding-left: 10vw;
}

.belief_des{
	font-weight: 400;
	font-size: 22px;
	width: 100%;
}
.belief_container{
	margin-top: 15px;
	margin-left: 25vw;
}

.question h2{
	padding-top: 3em;
	font-size: 35px;
	font-weight: 200;
	display: flex;
	text-align: center;
	justify-content: center;
}