*{
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow-x: hidden;
}

ul{
	list-style: none;
}

header{
	background-color: #000000;
	position: sticky;
	top: 0;
	z-index: 1;
	position: -webkit-sticky; /* For Safari*/
}

a{
	color: inherit;
	text-decoration: none;
}

/* header nav_bar */
.nav_bar{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    position: sticky;
	width:100%;
    padding: 15px;
}

.header_nav_options a {
    float: left;
    color: #939393;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
	display: flex;	
	vertical-align: middle;
}

.header_nav_options a:hover{
    color: #fff;
}

#section_divider{
	margin-left: 29em;
}

.header_nav_options{
	overflow: hidden;
	background-color: #000000;
	width: 100%;
}

.header_options{
	margin-top: 5px;
	margin-left: 20px;
}


.header_nav_options .icon {
	display: none;
}
.icon_creation {
	width: 21px;
	height: 3px;
	background-color: #fff;
	margin: 6px 0;
  }
@media screen and (max-width: 576px) {
	.header_nav_options a {display: none;}
	.header_nav_options a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 576px) {
	.header_nav_options.responsive {position: relative;}
	.header_nav_options.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}	
	.header_nav_options.responsive a {
		float: left;
		display: block;
		text-align: left;
		margin: 0;
		font-size: 21px;
	}
	#section_divider{
		margin: 0;
	}

}

/* Button used to open the chat form - fixed at the bottom of the page */
.chat-button {
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: -100px;
}
  
  /* The popup chat - hidden by default */
.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 1;
	border-radius: 10px;
}
  
  /* Add styles to the form container */
  .chat-container {
	max-width: 300px;
	background-color: white;
	border-radius: 10px;
  }
  
  /* Full-width textarea */
  .chat-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
  }
  
  /* When the textarea gets focus, do something */
  .chat-container textarea:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/send button */
.chat-container .btn {
	background-color: #21C49F;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

.first_message{
	border-radius:8px;
	background-color: #f1f1f1;
	width:50%;
	height: 50%;
	font-size:12px;
	padding:10px;
	margin-bottom: 5px;
}

.chatbot_header{
	display: flex;
	background-color: #2C2C2C;
	color: #fff;
	vertical-align: middle;
	padding: 10px;
	justify-content: space-around;
}

.profile_picture{
	width:14%;
	height:0%; 
	border-radius: 100%;
}
  /* Add a red background color to the cancel button */
.chat-container .cancel {
	background-color: #2C2C2C;
	cursor: pointer;
	border: none;
	font-size: 30px;
	color: #fff;
}

/* Add some hover effects to buttons */
.chat-container .btn:hover, .open-button:hover {
opacity: 1;
}
/* classes in footer */
.footer_ext{
	background-color: #000000;
	color: #ffffff;
	display: flex;
	padding: 33px 0 100px;
	flex-direction: column;
}
.footer_ext .footer_int{
	margin: 0 auto;
	width: 100%;
	max-width: 90%;
}

.footer_nav_options{
	display:flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
	
}
/* displays a line inbetween the social media icons and words in footer */
hr{
	background-color:#737272;
	border-width:0;
	height: 1px;
}

/* social media icons */
#social{
	display: flex;
	flex-direction: row;
	margin-left: 90px;
	position: absolute;
	gap:24px;
	
}
/* play store icons */
#footer_related{
	float: right;
	text-align: center;
	position: relative;	
}

#footer_related a{
	padding: 5px;
}

.footer_padding{
	padding: 21px 0px;
}

.legal{
	display: flex;
	justify-content: center;
	gap: 40px;
	font-size: 18px;
}

.surface_btn{
	float:right;
	border: none;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}
.surface_btn:hover{
	color: #F7DB1C;
}
.news_ext {
	background-color: #2C2C2C;
	color: #FFFFFF;
	padding:40px;
	margin-bottom: -40px;
}

.news_int{
	flex-direction: row;
	display: flex;
}

.main_news {
	flex: 21%;
	padding: 10px;
	position: relative;
}

.main_title{
	position: absolute;
    left: 5%;
    top: 60%;
    width: 100%;
}

.secondary_news{
	flex: 40%;
	flex-direction: column;
	padding: 10px;
	
}
.secondary_news_article{
	position: relative;
	margin-bottom: 25px;
}

.news_title{
	margin-top: -7em;
    padding: 0 15px;
    position: absolute;
}

.hero_txt { /* look at other pages first*/
	display: flex;
	top: 40%;
	width: 100%;
	flex-direction: column;
	position: absolute;
	text-align: center;
}
.hero_txt h1{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.hero_txt p{
	font-weight: 500;
	font-size: 22px;
	color: #FFFFFF;
}
.Games{
	padding: 40px 40px 70px 40px;
    background-color: #2C2C2C;
}

.Game_list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.Games h1,.news_ext h1, #form_header h1,.support_container h2{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 3em;
	padding-left: 30px;
}

.game_bg{
	display: flex;
    width: 48%;
    position: relative;
    padding: 15px;
}

.game_bg h3{
	left: 50%;
    top: 41%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.logo {
	position: absolute;
    left: 5%;
    top: 33%;
}



.social_ext{
	align-content: space-between;
	display: flex;
	margin-bottom: 33px;
}
.stores{
	gap:12px;
	display: flex;
	padding-right: 15px;
	padding-top: 5px;
}

.sg{
	flex-grow: 1;
}

.office_locations{
	display: flex;
	justify-content: center;
	gap: 80px;
	font-size: 24px;
	font-weight: 500;
	
}

.btn2{
	background-color: #000000;
	color: #FFFFFF;
	border: none;
}
.hiring{
	display: flex;
	width: 100%;
}

.hiring_info{
	flex-basis: 45%;
	display: flex;
	flex-direction: column;
	padding: 4%;
	text-align: center;
	align-items: center;
}
.hiring_image{
    display: flex;
    justify-content: end;
}
.hiring_small{
	display: none;
}
.hiring_info a{
	background-color: #2D85F3;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin: 4px 2px;
	font-size: 16px; 
	border-radius: 10px;
	width:15em;
	font-weight: 500;
}

.hiring_info p{
	font-size: 20px;
	margin: 30px;
}
#supercell_title{
	text-align: center;
	flex-direction: row;
	display: flex;
	width: 100%;
	justify-content: center;
	
}

#supercell_description{
	width: 34%;
	display: flex;
	flex-direction: row;
	text-align: start;
	font-size: 20px;
}
#supercell_stats{
	width: 30%;
	display: flex;
	text-align: start;
	font-size: 20px;
	justify-content: center;
}
.ext_container{
	width: 100%;
}
.container {
	background-color: #fff;	
	padding: 2em 3em 3em 3em;
}

.img_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: start;
	margin-left: 10px;
	margin-right: 10px;
}

.img_container2{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: start;
	margin: 20px 5em;
}

.img_1{
	flex: 26%; /* flex-grow:1 and flex-shrink 1 flex-basis:26%*/
	display: flex;
	justify-content: end;
}

.img_2{
	flex: 45%; /* flex-grow:1 and flex-shrink 1 flex-basis:45%*/
	display: flex;
	justify-content: center;
}

.img_3{
	display: flex;
	justify-content: start;
	flex: 54%; /* flex-grow:1 and flex-shrink 1 flex-basis:54%*/
}

.img_4{
	display: flex;
	flex: 50%;
	justify-content: start;
	padding-left: 15px;
}
.img_5{
	display: flex;
	flex: 50%;
	justify-content: end;
	padding-right: 15px;
}
.vid_container{
	width: 100%;
	text-align: center;
	
}

.des_container {
	width: 100%;
	font-size: 22px;
	font-weight: 400;
	padding: 15px 7em;
	text-align: center;
}
#location {
	text-align: center;
	
}
#location h1{
	font-size: 40px;
	font-weight: 700;
	color: #000000;
}
#location h2{
	font-size: 30px;
	font-weight: 600;
	color: #2D85F3;
}

#open_positions{
	padding: 150px 0px 20px;
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}
/*em: Relative to the font-size of the element 
(2em means 2 times the size of the current font)*/

.career_header{
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid #000000;
	margin-left: 10px;
	margin-right: 10px;
	color: #939393;
}
.sort{
	border: none;
	background-color: #FFFFFF;
	font-size: 24px;
	font-weight: 500;
	cursor: pointer;
}
.career_section{
	display: flex;
	text-align: start;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
	margin-left: 10px;
	border-bottom: 2px solid #000000;
}

.career_title{
	margin-left: 5px;
	margin-right: 4em;
	width: 35%;
	display: flex;
	font-size: 18px;
	font-weight: 400;
	color: #2D85F3;
}

.career_position{
	display: flex;
	width: 22%;
	font-size: 18px;
	font-weight: 400;
	
}

.career_category{
	margin-left: 3em;
	display: flex;
	width: 24%;
	font-size: 18px;
	font-weight: 400;
	
}

.apply_option{
	padding: 13px 23px;
	display: flex;
	font-size: 12px;
	font-weight: 400;
	background-color: #2D85F3;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

#career_padding{
	padding: 4em;
}

#show_all_button {
	background-color: #FFFFFF;
	color: #FB62AA;
	border: none;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
}

#button_ext {
	text-align: center;
	padding-bottom: 100px;
	padding-top: 20px;
}

.belief_title{
	width: 100%;
	font-weight: 600;
	font-size: 25px;
}

.belief_des{
	font-weight: 400;
	font-size: 22px;
	width: 100%;
	text-align: justify;
	padding: 0 10em;
}
.belief_container{
	text-align: center;
}

.question h2{
	padding-top: 3em;
	font-size: 35px;
	font-weight: 200;
	display: flex;
	text-align: center;
	justify-content: center;
}

.fade {
	animation: fade;
	animation-duration: 1000ms;
}

@keyframes fade{
	from {opacity: 0.4;}
	to {opacity: 1;}	
}

.game_des{
	display: flex;
    background: rgba(0,0,0, 0.2);
    color: #ffffff;
    flex-direction: row;
    width: 90%;
    position: absolute;
    margin: 31em 4em 0;
	border-radius: 8px;
}
.game_details{
	flex: 20;
	margin-left: 2em;
	font-weight: 500;
}


.game_link{
	flex: auto;
	margin-top: 3em;
	text-align: center;
}

.nav_bullet {
	cursor: pointer;
	height: 10px;
	width: 40px;
	margin: 1em 2px;
	background-color: #939393;
	border-radius: 40px;
	display: inline-block;
	transition: background-color 0.5s ease-in-out; /*so that it doesnt abrupty change*/
	/* background color property is to transition smoothly over 0.6s with an ease in and out function*/
  }

.nav_bullet:hover {
	background-color: #2D85F3;
}

.show{
	background-color: #2D85F3;
	width: 100px;
}
.game_imgs{
	position: relative;
	width: 100%;
}
/*left and right buttons*/
.left, .right{
	cursor: pointer;
	top:50%;
	font-size: 50px;
	font-weight: 700;
	width: auto;
	position: absolute;
	padding: 16px;
	margin-top: -75px;
	transition: all 0.5s ease-in-out; /*arrow keys will have ease in out transition spanning 0.5s*/
	user-select: none;
	border-radius: 10px;
	opacity: 0.5;
}

.left:hover, .right:hover{
	background-color: #939393;
}

.separator{
	right: 0;
}

