*{
	box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}

ul{
	list-style: none;
}

header{
	background-color: #000000;
	position: sticky;
	position: -webkit-sticky; /* For Safari*/
}

a{
	color: inherit;
	text-decoration: none;
}
.nav_bar{
	display: flex;
	align-items: center;
	justify-content: center;
    overflow: hidden;
	text-align: center;
    position: sticky;
	width:100%;
    
}

.nav_options{
	display:flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
	padding:0 8vw;
}

.nav_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;	
}

.nav_options div{
	padding-right:20vw;
}

.nav_options div a{
	font-size: 1.5em;
}
.nav_bar a:hover{
    color: #ffffff;
}

.nav_bar a:active{
    color: #ffffff;
}

.related{
	float: right;
	text-align: center;
	position: relative;
	
}


.main_news{
	display: block;
	
	
	
}


.secondary_news{
	display: grid;
	gap:15px;
}

.secondary_news_list{
	list-style: none;
}
#mod{
	padding: 15px;
}
.center { /* look at other pages first*/
	display: flex;
	top: 40%;
	width: 100%;
	flex-direction: column;
	position: absolute;
	text-align: center;
	color: #000000;
	
}
.center h1{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 40px;
}
.center h2{
	font-weight: 500;
	font-size: 22px;
	color: #FFFFFF;
}
.Games{
	padding: 30px 0;
	background-color: #2C2C2C
}

.Game_list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
}
.Games h1{
	color: #FFFFFF;
	padding: 0 40px;
}

.hay_day_bg{
	display: flex;
	width: 40%;
	position: relative;
}

.coc_bg{
	display: flex;
	width: 40%;
	position: relative;
}
.bb_bg{
	display: flex;
	width: 40%;
	position: relative;
}

.cr_bg{
	display: flex;
	width: 40%;
	position: relative;
}

.bs_bg{
	display: flex;
	width: 40%;
	position: relative;
}

.soon_bg{
	display: flex;
	width: 40%;
	position: relative;
	text-align: center;
}
.soon_bg h3{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.logo {
	left: 50px;
	top: 150px;
	position: absolute;
		
}

.btm{
	background-color: #000000;
	color: #ffffff;
	display: flex;
	padding: 33px 0 180px;
	flex-direction: column;
}
.btm .f{
	margin: 0 auto;
	width: 100%;
	max-width: 80%;
}

.social_ext{
	align-content: space-between;
	display: flex;
	margin-bottom: 33px;
}
.stores{
	gap:12px;
	display: flex;
	padding-right: 15px;
	padding-top: 5px;
}
hr{
	background-color:#737272;
	border-width:0;
	height: 1px;
}
#social{
	display: flex;
	flex-direction: row;
	margin-left: 90px;
	position: absolute;
	gap:18px;
	
}
.sg{
	flex-grow: 1;
}

.legal{
	display: flex;
	justify-content: center;
	gap: 24px;
	
}
.office_locations{
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 24px;
	font-size: 24px;
	font-weight: 600;
	
}
.footer_padding{
	padding: 21px 0px;
}

.btn{
	float:right;
}
.btn2{
	background-color: #000000;
	color: #FFFFFF;
	border: none;
}
.hiring{
	display: flex;
	width: 100%;
}

.hiring_info{
	flex-basis: 45%;
	display: flex;
	flex-direction: column;
padding: 2%;
	
}
.hiring_image{
	flex: 1 1 55%;
    display: flex;
    align-items: center;
}
/*.inner{
	padding: 80px 30px;
}*/
.hiring_info a{
	background-color: #2D85F3;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin: 4px 2px;
	font-size: 16px; 
	border-radius: 10px;
}

#supercell-title{
	text-align: center;
}

#supercell_description{
	float: left;
}
#supercell_stats{
	float: right;
}
.ext_container{
	width: 100%;
}
.container {
	display: flex;
	width: 100%;
	background-color: #fff;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 135px;

}
.a11{
	display: flex;
	flex-wrap: wrap;
}
#a2{
	display: flex;
	flex-wrap: wrap;
}
.a1{
	flex: 50%;
	max-width: 50%;
}
.a1 img{
	width: 100%;
	height: 100%;
	padding: 5px;
}
.a2 img{
	width: 100%;
	height: 100%;
	padding: 5px;
}
.a2{
	flex: 25%;
	max-width: 25%;
}

.vid_container{
	width: 100%;
	text-align: center;
	
}

.des_container {
	text-align: center;
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	padding: 15px
}
#location {
	text-align: center;
	
}
#location h1{
	font-size: 40px;
	font-weight: 700;
	color: #000000;
}
#location h2{
	font-size: 30px;
	font-weight: 600;
	color: #2D85F3;
}

#career_title{
	padding: 25px 0px;
	width: 100%;
	text-align: center;
}

#Career_position{
	margin-left: 24em;
}

#Career_category{
	margin-left: 15em;
}

